@import "tailwindcss";
@import "./fonts.css";

html,
body {
  width: 100%;
  background-color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  font-family: "Pretendard", sans-serif, system-ui;
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@theme {
  --color-mainpink: #fe0a58;
  --color-lightpink: #fee6ee;
  --color-lightpink01: #fffafc;
  --color-lightpink02: #ffbcd0;

  --color-green01: #22c14d;
  --color-lightgreen01: #e5ffe6;

  --color-orange01: #fc6d1e;
  --color-lightorange01: #feeae6;

  --color-white: #ffffff;

  --color-grey00: #fafafa;
  --color-grey01: #f5f5f5;
  --color-grey02: #f3f4f6;
  --color-grey03: #ecebec;
  --color-grey04: #e5e5e5;
  --color-grey05: #dfdfdf;
  --color-grey06: #d9d9d9;
  --color-grey09: #d2d2d2;
  --color-grey10: #cecece;
  --color-grey11: #c6c6c6;
  --color-grey12: #c4c4c4;
  --color-grey13: #ababab;
  --color-grey14: #a3a3a3;
  --color-grey15: #999999;
  --color-grey16: #8d8d8d;

  --color-bluegrey01: #f2f3f7;
  --color-bluegrey02: #e5e7eb;
  --color-bluegrey03: #d1d5db;
  --color-bluegrey04: #adb8bc;
  --color-bluegrey05: #9ca3af;
  --color-bluegrey06: #9ba1ad;
  --color-bluegrey07: #878a95;
  --color-bluegrey08: #6b7280;
  --color-bluegrey09: #374151;
  --color-bluegrey10: #111827;

  --color-darkgrey01: #737373;
  --color-darkgrey02: #525252;
  --color-darkgrey03: #404040;
  --color-darkgrey04: #262626;
  --color-darkgrey05: #171717;

  --color-kakao: #fee500;
}
